.redlaos{
    width: 500px;
    height: 300px;
    background-color: red;
    position: relative;

}
.bluelaos{
    background-color: navy;
    position: absolute;
    margin-top: 50px;
    width: 500px;
    height: 200px;
}
.whitelaos{
    background-color: white;
    position: absolute;
    margin-top: 75px;
    margin-left: 175px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.blueiceland{
    background-color: navy;
    position: relative;
    width: 500px;
    height: 300px;
}
.whiteverticeland{
    background-color: white;
    width: 60px;
    height: 300px;
    position: absolute;
    margin-left: 125px;

}
.whitehorziceland{
    background-color: white;
    width: 500px;
    height: 100px;
    position: absolute;
    margin-top: 100px;
}
.redverticeland{
    background-color: red;
    width: 30px;
    height: 300px;
    margin-left: 15px;
    position: absolute;
}
.redhorziceland{
    background-color: red;
    width: 500px;
    height: 50px;
    position: absolute;
    margin-top: 125px;
    margin-left: -140px;
}
.trokut{
    width: 0;
    height: 0;
    border-left: 200px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
}
.bahamasblue{
    width: 500px;
    height: 300px;
    position: relative;
    background-color: cadetblue;
}
.bahamasyellow{
    width: 500px;
    height: 100px;
    background-color:gold;
    position: absolute;
    margin-top: 100px;
}
.bahamastrokut{
    width: 0;
    height: 0;
    border-left: 200px solid black;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    position: absolute;
}
.redbahrain{
    width: 500px;
    height: 300px;
    background-color: red;
}
.whitebahrain{
    width: 125px;
    height: 300px;
    background-color: white;
}
.whitebahraintrokut1{
    width: 0;
    height: 0;
    border-left: 50px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    margin-left: 125px;
}
.whitebahraintrokut2{
    width: 0;
    height: 0;
    border-left: 50px solid white;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    position: absolute;
    margin-left: -50px;
    margin-top: 30px;
}
