.redlaos{
    width: 500px;
    height: 300px;
    background-color: red;
    position: relative;

}
.bluelaos{
    background-color: navy;
    position: absolute;
    top: 50px;
    width: 500px;
    height: 200px;
}
.whitelaos{
    background-color: white;
    position: absolute;
    top: 75px;
    left: 175px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.blueiceland{
    background-color: navy;
    position: relative;
    width: 500px;
    height: 300px;
}
.whiteverticeland{
    background-color: white;
    width: 60px;
    height: 300px;
    position: absolute;
    left: 125px;

}
.whitehorziceland{
    background-color: white;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 100px;
}
.redverticeland{
    background-color: red;
    width: 30px;
    height: 300px;
    left: 15px;
    position: absolute;
}
.redhorziceland{
    background-color: red;
    width: 500px;
    height: 50px;
    position: absolute;
    top: 125px;
    left: -140px;
}
.trokut{
    width: 0;
    height: 0;
    left: 200px solid black;
    top: 150px solid transparent;
    bottom: 150px solid transparent;
}
.bahamasblue{
    width: 500px;
    height: 300px;
    position: relative;
    background-color: cadetblue;
}
.bahamasyellow{
    width: 500px;
    height: 100px;
    background-color:gold;
    position: absolute;
    top: 100px;
}
.bahamastrokut{
    width: 0;
    height: 0;
    left: 200px solid black;
    top: 150px solid transparent;
    bottom: 150px solid transparent;
    position: absolute;
}
.redbahrain{
    width: 500px;
    height: 300px;
    background-color: red;
}
.whitebahrain{
    width: 125px;
    height: 300px;
    background-color: white;
}
.whitebahraintrokut1{
    width: 0;
    height: 0;
    left: 50px solid white;
    top: 30px solid transparent;
    bottom: 30px solid transparent;
    position: absolute;
    left: 125px;
}
.whitebahraintrokut2{
    width: 0;
    height: 0;
    left: 50px solid white;
    top: 30px solid transparent;
    bottom: 30px solid transparent;
    position: absolute;
    left: -50px;
    top: 30px;
}

.zvijezda{
    width: 200px;
    height: 200px;
    background: gold;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.greencameroon{
    width: 166px;
    height: 300px;
    background-color: #007a5e;
}

.redcameroon{
    width: 167px;
    height: 300px;
    background-color: #ce1126;
    top: -300px;
    left: 166px;
}

.zvijezdacameroon{
    width: 100px;
    height: 100px;
    background: #fcd116;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    top: 100px;
    left: 35px;
}

.yellowcameroon{
    width: 167px;
    height: 300px;
    background-color: #fcd116;
    position: relative;
    top: -300px;
    left: 333px;
}

.redturkiye{
    width: 500px;
    height: 300px;
    background-color: red;
    position: relative;
}

.whitecircleturkiye{
    background-color: white;
    position: absolute;
    top: 75px;
    left: 100px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.redcircleturkiye{
    background-color: red;
    position: absolute;
    top: 12px;
    left: 30px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.whitestarturkiye{
    width: 100px;
    height: 100px;
    background: white;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%,
    79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: absolute;
    top: 100px;
    left: 210px;
    transform: rotate(-20deg);
}