
.table{
    border: 2px solid gray;
}
.def{
    background-color: dodgerblue;
}
.nepar{
    background-color: gray;
}
.par{
    background-color: white;
}

.screenshot{
    width: 33%;
    margin-top: 30px;
    margin-left: 100px;
}
.iceland{
    width: 100%;

}
hr{
    margin-left: 5%;
    margin-right: 5%;
}
.untitled{
    width: 200px;
}
.osoba{
    width: 50px;
    height: 50px;
}
.boldh{
    font-weight: bold;
}
